html {
    margin: 20px;
   background-color: #ffffff; 
}

body {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
font-weight: 300;
color: #333;
margin:2px;
padding: 2px;
line-height: 1.6em;
}

.container{
    width: 84%;
    margin:auto;  

}
.box-0{
    padding: 20px;
    background-color: #f4f4f4; 
}
.box-1{
    padding: 20px;
    background-color: #f4f4f4; 
}
.video-container {
  /*position: absolute;*/
  float:left;
  width: 32.0%;
  margin:5px;
  background-color: #f4f4f4; 
  
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  object-fit: cover;
}


